			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				
				<div class='nd2-sidepanel-profile fadeInDown' >
					<img class='profile-background' src="http//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-12'>
							<div class='box profile-text'>
								<strong>Ibrahim Pinto</strong>
								<span class='subline'>Booking Id</span>
							</div>
						</div>
					</div>
				</div>
				

				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Menu</li>
				</ul>
				
				<div data-inset="false" >
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="#home-page" data-ajax='false' data-icon="false">Home</a></li>
						<li><a href="#packages-page" data-ajax='false' data-icon="false">Packages</a></li>
						<li><a href="#" data-ajax='false' data-icon="false">Booking Status</a></li>
						<li><a href="#" data-ajax='false' data-icon="false">Sayings & Quotes</a></li>
					</ul>
				</div>
				
				<hr class="inset">
				
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Information</li>
				</ul>
				
				<div>
					<ul data-role="listview">
						<li><a href="#" data-ajax='false'>About Us</a></li>
					</ul>
				</div>
				
			</div>
			<!-- /panel left -->
